@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button type="button" class="btn btn-primary">Primary</button>
    <p>Total: @Model.Total.ToString("C0")</p>
    <p>今年配息:@Model.DividendTotal.ToString("C0")</p>
    <table class="table"style="border: 1px solid black;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">股號</th>
                <th scope="col">Name</th>
                <th scope="col">股數</th>
                <th scope="col">價值</th>
                <th scope="col">配息</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model.Stocks)
            {
                <tr>
                    <td>@stock.ID</td>
                    <th>@stock.Code</th>
                    <td>@stock.Name</td>
                    <td>@stock.Inventory</td>
                    <td>@stock.Value.ToString("C0")</td>
                    <td>@stock.Dividend.ToString("C2")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
