@{
    ViewData["Title"] = "Home Page";
    int 流水號 = 1;
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <p style="margin-bottom: 0;">總價值: @Model.Total.ToString("C0")</p>
        <p>今年配息:@Model.DividendTotal.ToString("C0")</p>
    </div>
    <table class="table"style="border: 1px solid black;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">股號</th>
                <th scope="col">名稱</th>
                <th scope="col">股數</th>
                <th scope="col">價值</th>
                <th scope="col">配息</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model.Stocks)
            {
                <tr>
                    <td>@流水號</td>
                    <th>@stock.Code</th>
                    <td>@stock.Name</td>
                    <td>@stock.Inventory</td>
                    <td>@stock.Value.ToString("C0")</td>
                    <td>@stock.Dividend.ToString("C2")</td>
                </tr>
                流水號++;
            }
        </tbody>
    </table>
</div>
